#title {
    background-color: #ffffff;
    font-weight: bold;
    }
      .container-fluid {
        padding: 3% 15%;
      }  
    h1 {
        font-family:'Montserrat', sans-serif;
        font-size: 1.3rem;
        line-height: 1.2;
        color: #000000;
    }
    
    h2 {
        color: #000000;
        font-family:'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 1rem;
    }
    
    h3 {
        font-family: 'Montserrat';
        font-weight: bold;
    }
    
    p {
       color: #000000; 
    }
    .navbar {
        padding-bottom: 0 0 4.5rem;
    }
    .navbar-brand {
        font-family: 'Ubuntu';
        font-size: 2.5rem;
        font-weight: bold;
    }
    
    .navbar-item {
        padding: 0 18px;
    }
    
    .nav-link{
        font-family: 'Montserrat', sans-serif;
        font-size: 1.2rem;
    }
    
    .download-button {
        margin: 5% 3% 5% 0;
    }
    
    .title-image {
        width: 13%;
    }
    
    @media (max-width:1028px){
        #title{
            text-align: center;
        }
        .title-image{
        transform: rotate(0);
        }
    }
    
    #features{
        padding: 7% 15%;
        background-color: #fff;
    }
    
    .feature-box {
        text-align: center;
        padding: 5%;
    }
    
    .icon {
        color: sandybrown;
        margin-bottom: 1rem;
    }
    
    .icon:hover{
        color: crimson;
    }
    
    #testimonials {
        text-align: center;
        background-color: #d6790f;
    
    }
    
#testimonial-carousel {
    border-radius: 10%;
    background-color: #e6e27b; 
}

    .carousel-item {
        padding: 7% 15%;
    }
    .testimonial-image {
        width: 60%;
        border-radius: 50%;
        margin: 20px;
    }
    
    
    
    #pricing {
        margin: 50px;
        padding: 100px;
        text-align: center;
        background-color: #e6e27b;
    }
    
    .pricing-header {
        color: #000;
    }
    
    .pricing-column {
        padding: 3% 2%;
    }
    .card {
        background-color: #e9c065;
    }
    
    #footer {
        padding: 2% 15%;
        text-align: center;
        background-color: #ffffff;
    }

    #headertext {
        display: inline-block;
        z-index: 4;
        text-align: left;
        
    }
    
    #headertext #contact-info #address {
        border-right: 3px double #000000;
        padding-right: 18px;
        margin-top: 125px;
    }
    
    #headertext #contact-info ul {
        padding: 8px;
        margin: 0px;
        display: inline-block;
        list-style-type: none;
    }
    
    #headertext #contact-info ul li {
        font-size: small;
        text-align: left;
    }
    
    #headertext #contact-info ul li#phone {
        margin-top: 0;
    }
    
    #headertext #contact-info ul#hours {
        border-top: none;
        padding-top: 0;
        display: inline-block;
        margin-left: 6px;
    }
    
    #headertext #contact-info ul#hours li {
        font-size: small;
        letter-spacing: 0;
        text-align: right;
    }
    
    #headertext #contact-info ul#hours li span.days {
        text-align: left;
    }


    #classics {
        margin: 50px;
        padding: 100px;
        background-color: #e9c065;
    }

    warning {
        background-color: yellow;
    }